
div {
  background-color: blue;
  color: black;
  top: 0px;
  text-align: center;
}

h2 {
  background-color: white;
}

table {
  display: block;
  border-color: collapse;
  border-color: black;
  border-width: 2px;
}

tbody {
    box-shadow: 0 0 0 1px black;
    background-color: white;
}

td {
    box-shadow: 0 0 0 1px black;
    text-align: center;
    width: 18px;
    height: 18px;
    background-color: white;
}

tr {
  background-color: white;
}

.game-board {
  background-color: white;
}

.computer {
  float: right;
  margin-right: 20%;
}

.player {
    float: left;
    margin-left: 20%;
}

.hit {
  height: 12px;
  width: 12px;
  background-color: red;
  border-radius: 50%;
  display: table-cell;
}

.water {
    background-color: blue;
}

.miss {
  height: 12px;
  width: 12px;
  background-color: white;
  border-radius: 50%;
  display: table-cell;
  border: black;
}

.dialogue {
  background: lightblue;
  width: 30%;
  height: 5rem;
  margin-right: 35%;
  margin-left: 35%;
  margin-bottom: 10px;
  border-radius: 3px;
  box-shadow: 0 0 0 1px black;
}

