
div {
  background-color: white;
  color: black;
  top: 0px;
  text-align: center;
}

table {
  display: block;
  border-color: collapse;
  border-color: black;
  border-width: 2px;
}

tbody {
    box-shadow: 0 0 0 1px black;
}

td {
    box-shadow: 0 0 0 1px black;
    text-align: center;
    width: 18px;
    height: 18px;
}

.computer {
  float: right;
  margin-right: 10%;
}

.player {
    float: left;
    margin-left: 10%;
}

.background-red {
    background-color: red;
}
  
.background-blue {
    background-color: blue;
}

.background-yellow {
  background-color: yellow;
}

