h1 {
  font-size: 64px;
  font-weight: bold;
  color: rgb(28, 99, 165);
  margin-left: auto;
  margin-right: auto;
  margin-top: 2px;
  margin-bottom: 2px;
  text-align: center;
  line-height: 2;
  font-family: arial, sans-serif;
  text-shadow: 0 0 10px white, 0 0 10px whitesmoke;
  border-style: none;
  border-width: 0px;
  border-color: #ccc;
  border-radius: 0%;
}

h2 {
  color: white;
  padding: .7rem;
  margin: 0px;
}

h3 {
  font-weight: bold;
  font-size: medium;
  padding: 3px;
  margin-bottom: 0px;
  margin-top: 2px;
}

table {
  display: block;
  background-color: black;
  border-color: collapse;
  border-color: black;
  border-width: 2px;
}

tbody {
    box-shadow: 0 0 0 1px black;
    background-color: black;
}

td {
    box-shadow: 0 0 0 1px black;
    text-align: center;
    width: 20px;
    height: 20px;
    background-color: black;
}

tr {
  background-color: black;
}

p {
  margin-top: 5px;
  display: block;
  margin-block-start: .5em;
  margin-block-end: .5em;
  margin-inline-start: 15px;
  margin-inline-end: 15px;
}

ul {
  margin-top: 6px;
  margin-bottom: 6px;
  list-style: none;
  margin-right: 25px;
  margin-left: 0px;
}

li {
  padding: 6px;
}

.computer {
  float: right;
  margin-right: 20%;
}

.player {
    float: left;
    margin-left: 20%;
}

.hit {
  height: 20px;
  width: 20px;
  background-color: red;
  border-radius: 50%;
  display: table-cell;
}

.water {
    background-color: rgb(28, 99, 165);
}

.ship {
  background-color: grey;
}

.miss {
  height: 20px;
  width: 20px;
  background-color: white;
  border-radius: 50%;
  display: table-cell;
  border: black;
}

.dialogue {
  padding-top: 5px;
  background: #c2cfd3;
  width: 30%;
  height: 6.5rem;
  margin-right: 35%;
  margin-left: 35%;
  margin-bottom: 10px;
  border-radius: 3px;
  box-shadow: 0 0 0 1px black;
  color: black;
}

.score {
  color: black;
  float: center;
  margin-right: 42%;
  margin-left: 42%;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  display: block;
  padding: 20px;
  text-align: center;
}

.toggle {
  background: #c2cfd3;
  color: black;
  width: 100%;
  height: 0px;
  margin-bottom: 2px;
}

.reset {
  height: 50px;
  width: 100px;
  border-radius: 5px;
  font-weight: bold;
  float: center;
  margin-right: 42%;
  margin-left: 42%;
  margin-top: 7px;
}

.reset:hover {
  background-color: #c2cfd3;
}

.switch {
  position: relative;
  display: inline-block;
  width: 54px;
  height: 26px;
  padding: 1px;
  margin: 3px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: -3px;
  left: 0;
  right: 0;
  bottom: 3px;
  background-color: #e2e9ea;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: rgb(28, 99, 165);
}

input:focus + .slider {
  box-shadow: 0 0 1px rgb(28, 99, 165);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

span { 
  font-family: Arial, Helvetica, sans-serif; 
  font-weight: bold; 
  padding: 7px;
} 

