
div {
  background-color: blue;
  color: black;
  top: 0px;
  text-align: center;
}

h2 {
  background-color: black;
  color: white;
  padding: 1.5rem;
  margin: 0px;
}

table {
  display: block;
  border-color: collapse;
  border-color: black;
  border-width: 2px;
}

tbody {
    box-shadow: 0 0 0 1px black;
    background-color: black;
}

td {
    box-shadow: 0 0 0 1px black;
    text-align: center;
    width: 18px;
    height: 18px;
    background-color: black;
}

tr {
  background-color: black;
}

.game-board {
  background-color: black;
}

.computer {
  float: right;
  margin-right: 20%;
}

.player {
    float: left;
    margin-left: 20%;
}

.hit {
  height: 18px;
  width: 18px;
  background-color: red;
  border-radius: 50%;
  display: table-cell;
}

.water {
    background-color: blue;
}

.miss {
  height: 12px;
  width: 12px;
  background-color: white;
  border-radius: 50%;
  display: table-cell;
  border: black;
}

.dialogue {
  background: lightblue;
  width: 30%;
  height: 5rem;
  margin-right: 35%;
  margin-left: 35%;
  margin-bottom: 10px;
  border-radius: 3px;
  box-shadow: 0 0 0 1px black;
}

.toggle {
  background: lightblue;
}

.switch {
  position: relative;
  display: inline-block;
  width: 54px;
  height: 26px;
  padding: 1px;
  margin: 3px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #122349;
}

input:focus + .slider {
  box-shadow: 0 0 1px #122349;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

span { 
  font-family: Arial, Helvetica, sans-serif; 
  font-weight: bold; 
  padding: 7px;
} 

